.layout {
  padding: 2.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 65rem;
  margin: 0 auto;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 0;
}

.transaction-history {
  flex-basis: 20rem;
  min-width: 18rem;
  flex-shrink: 0;
}

@media screen and (max-width: 48rem) {
  .transaction-history {
    flex-basis: 100%;
    min-width: 100%;
  }
}
