.generos {
  display: flex;
  flex-direction: column;
  padding: 48px 160px;
}

.generos__titulo {
  font-family: var(--font-prata);
  font-size: 28px;
  font-weight: var(--font-weight-normal);
  line-height: 38px;
  text-align: center;
}

.generos__linha-destaque {
  width: 32px;
  border-bottom: 4px solid var(--color-primaria);
  display: block;
  margin: 0 auto;
}

.generos__livros {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.generos__sem-livros {
  text-align: center;
  margin-top: 16px;
  color: #3b3b3b;
  font-size: 20px;
}

.generos__sem-livros img {
  width: 150px;
  margin-top: 8px;
  opacity: 0.8;
}
