<section class="generos" [ngClass]="genero().id">
  <h3 class="generos__titulo">{{ genero().value }}</h3>
  <span class="generos__linha-destaque" [ngClass]="genero().id"></span>
  @if (genero().livros.length <= 0) {
  <div class="generos__sem-livros">
    <img src="sem-livros.png" alt="Sem livros neste gênero" />
    <p>Nenhum livro encontrado para o gênero {{ genero().value }}</p>
  </div>
  }
  <div class="generos__livros">
    @for (livro of genero().livros; track livro) {
    <app-livro [livro]="livro"></app-livro>
    }
  </div>
</section>
