.form-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.form-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  gap: 16px;
}
