.sidebar {
  background: var(--cabecalho-componentes);
  height: 100%;
  padding: 5rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-about {
  text-align: center;
}

@media screen and (max-width: 68rem) {
  .sidebar {
    padding: 1.5rem 0.5rem;
  }

  .sidebar-about {
    display: none;
  }
}

@media screen and (max-width: 50rem) {
  .sidebar {
    padding: 0;
    background: transparent;
    align-items: start;
  }
}
