.livro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 262px;
  min-height: 382px;
  margin: 8px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding-top: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 64px;
}

.livro__informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.livro__informacoes > * {
  margin: 8px;
}

.livro__informacoes__titulo {
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 26px;
  text-align: center;
  max-width: 90%;
}

.livro__informacoes__autoria {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  text-align: center;
  color: var(--color-secundaria);
}
