.livro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 262px;
  min-height: 382px;
  margin: 8px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding-top: 16px;
  border-top: 24px solid;
}

.livro__imagem {
  margin-top: 32px;
  width: 128px;
  height: 184px;
  margin-bottom: 20px;
}

.livro__botao-favorito {
  position: absolute;
  top: 32px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: #ff5252;
  padding: 0;
  outline: none;
}

.livro__botao-favorito:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.livro__informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.livro__informacoes > * {
  margin: 8px;
}

.livro__informacoes__titulo {
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 26px;
  text-align: center;
  max-width: 90%;
}

.livro__informacoes__autoria {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  text-align: center;
  color: var(--color-secundaria);
}

.romance {
  border-color: #82cffa;
}

.misterio {
  border-color: #a6d157;
}

.fantasia {
  border-color: #e06b69;
}

.ficcao-cientifica {
  border-color: #db6ebf;
}

.tecnicos {
  border-color: #ff8a29;
}
