<mat-card class="autor-card">
  <mat-card-header>
    <mat-card-title>{{ autor.nome }}</mat-card-title>
    <mat-card-subtitle>{{ autor.nacionalidade }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button
      mat-icon-button
      (click)="onEditar.emit(autor)"
      matTooltip="Editar autor"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      (click)="onExcluir.emit(autor._id!)"
      matTooltip="Excluir autor"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
