.title-container {
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background: var(--cabecalho-componentes);
  padding: 1rem;
  font-weight: 700;
  text-align: center;
}

.body-card {
  border-radius: 0rem 0rem 1.5rem 1.5rem;
  background: var(--fundo-componentes);
  padding: 2rem 1rem 1.5rem;
}

.transactions-and-button {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.add-transaction-button {
  margin: 0 auto;
}

.coin-icon {
  width: 1rem;
}
