.financial-area {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    'saldo      saldo'
    'transacoes contas';
  grid-template-columns: 1fr 1fr;
}

.balance {
  grid-area: saldo;
}

.transactions {
  grid-area: transacoes;
}

.accounts {
  grid-area: contas;
}

@media screen and (max-width: 50rem) {
  .financial-area {
    grid-template-areas:
      'balance'
      'transactions'
      'accounts';
    grid-template-columns: 1fr;
  }
}
