<div class="grid">
  <div class="col-12">
    <div class="form-container">
      <!-- LOGIN -->
      <form
        [formGroup]="loginForm"
        class="auth-form"
        *ngIf="loginCard"
        (ngSubmit)="onLoginSubmit()"
      >
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Faça login para acessar o sistema"
        >
          <div class="input-group">
            <input
              type="email"
              formControlName="email"
              pInputText
              placeholder="Email"
            />
          </div>

          <div class="input-group">
            <input
              type="password"
              formControlName="password"
              pInputText
              placeholder="Senha"
            />
          </div>

          <div class="button-container">
            <button
              type="submit"
              pButton
              pRipple
              label="Login"
              class="auth-button"
              [disabled]="loginForm.invalid"
            ></button>
          </div>

          <span
            class="switch-link"
            (click)="loginCard = !loginCard"
            tabindex="0"
            (keydown.enter)="loginCard = !loginCard"
            (keydown.space)="loginCard = !loginCard"
          >
            Criar Conta
          </span>
        </p-card>
      </form>

      <!-- SIGNUP -->
      <form
        [formGroup]="signupForm"
        class="auth-form"
        *ngIf="!loginCard"
        (ngSubmit)="onSignupSubmit()"
      >
        <p-card
          styleClass="mt-10"
          header="Criar conta"
          subheader="Crie já sua conta gratuita!"
        >
          <div class="input-group">
            <input
              type="text"
              pInputText
              placeholder="Nome"
              formControlName="name"
            />
          </div>

          <div class="input-group">
            <input
              type="email"
              pInputText
              placeholder="Email"
              formControlName="email"
            />
          </div>

          <div class="input-group">
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"
            />
          </div>

          <div class="button-container">
            <button
              type="submit"
              pButton
              pRipple
              label="Criar conta"
              class="auth-button"
              [disabled]="signupForm.invalid"
            ></button>
          </div>

          <span
            class="switch-link"
            (click)="loginCard = !loginCard"
            tabindex="0"
            (keydown.enter)="loginCard = !loginCard"
            (keydown.space)="loginCard = !loginCard"
          >
            Fazer login
          </span>
        </p-card>
      </form>
    </div>
  </div>
</div>
