<main class="form-container">
  <form class="form">
    <h2 class="title">Nova Transação</h2>

    <div class="inputs">
      <label class="input-group">
        Transação
        <div class="select-container">
          <select
            name="type-transaction"
            class="input select-type-transaction"
            required
          >
            <option value="" selected disabled>
              Selecione o tipo de transação
            </option>
            <option value="deposit">Depósito</option>
            <option value="withdraw">Saque</option>
          </select>
        </div>
      </label>
    </div>
  </form>
</main>
