html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.content-container {
  max-width: 748px;
  width: 100%;
}
