.transaction-history {
  border-radius: 0.5rem;
  background: var(--fundo-cinza-claro, #f5f5f5);
  padding: 2rem 1.5rem;
  min-height: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 125%;
}

.transaction-items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.empty-state {
  text-align: center;
  color: var(--cinza-medio);
  padding: 3rem 1rem;
  font-style: italic;
  font-size: 0.9375rem;
}
