.transaction-history {
  border-radius: 0.5rem;
  background: var(--fundo-cinza-claro, #f5f5f5);
  padding: 2rem 1.5rem;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 125%;
}

.transaction-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
