<app-card>
  <ng-container card-title>
    <h2 class="texto-lg">Minhas contas</h2>
  </ng-container>

  <div class="accounts-and-button">
    <ul>
      @for (account of accounts(); track account.name) {
        <li class="item-entre-divisorias">
          <app-account [account]="account" />
        </li>
      } @empty {
        <li aria-hidden="true">Ainda não há contas criadas.</li>
      }
    </ul>

    <app-button class="add-account-button">
      <img src="icones/carteira.svg" alt="" class="waller-icon" />
      Adicionar conta
    </app-button>
  </div>
</app-card>
